:root {
    --red: rgb(229,9,20);
    --brown: rgba(37, 28, 4, 0.952);
    --blue: rgb(40, 107, 124);
    --gray: rgba(96, 100, 99, 0.966);
    --black: rgba(0, 0, 0);
    --white: rgb(247, 246, 246);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display:flex;
}

header .icon .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: normal;
    color: var(--red);
    font-size: 40px;
}
header .icon .titulo {
    background: linear-gradient(var(--white), var(--gray));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Vast Shadow', serif;
    margin-top: 8px;
    margin-left: 5px;
    
}
header nav a {
    color: var(--gray);
    text-decoration: none;
    margin-right: 20px;
}
header nav a:hover,
header nav a.active {
    color: var(--white);
}

/* Principal Movie */
.principal-movie {
    font-size: 16px;
    min-height: 40.62em;
    color: var(--white);
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(./img/series/game_of_thrones_h2.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}
.principal-movie .container {
    margin: 0 auto;
    margin-bottom: 6.25em;
}
.principal-movie .movie-title {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}
.principal-movie .description {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}
.principal-movie .button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: var(--white);
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
} 
.principal-movie .button:hover {
    background: var(--white);
    color: var(--black);
}
.principal-movie .button i {
    margin-right: 1.25em;
}

/* Contenedor Titulo y Controles */
.container-title-controls {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.container-title-controls h3 {
    color: var(--white);
    font-size: 30px;
}

.container-title-controls .indicators button {
    background: var(--white);
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.container-title-controls .indicators button:hover,
.container-title-controls .indicators button.active {
    background: var(--red);
}

/* Contenedor Principal y Flechas */
.recommended-movies {
    margin-bottom: 70px;
}

.recommended-movies .principal-container {
    display: flex;
    align-items: center;
    position: relative;
}

.recommended-movies .principal-container .flecha-izquierda,
.recommended-movies .principal-container .flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, .3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: var(--white);
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.recommended-movies .principal-container .flecha-izquierda {
    left: 0;
}

.recommended-movies .principal-container .flecha-derecha {
    right: 0;
}

.recommended-movies .principal-container .flecha-izquierda:hover,
.recommended-movies .principal-container .flecha-derecha:hover {
    background: rgba(0, 0, 0, .9);
}

/* Carousel */
.recommended-movies .carousel-container {
    width: 100%;
    padding: 20px 0;
    overflow:hidden;
    scroll-behavior: smooth;
} 


.recommended-movies .carousel-container .carousel {
    display: flex;
    flex-wrap: nowrap;
}
    
.recommended-movies .carousel-container .carousel .movie {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
    
.recommended-movies .carousel-container .carousel .movie.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.recommended-movies .carousel-container .carousel .movie img {
    width: 100%;
    vertical-align: top;

}
    

/* Media Queries */
@media screen and (max-width: 800px){
    header .titulo {
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    .principal-movie {
        font-size: 14px;
    }

    .principal-movie .description {
        max-width: 100%;
    }

    .button {
        margin-bottom: 10px;
    }
    
    .recommended-movies .carousel-container {
        overflow: visible;
    }

    .recommended-movies .carousel-container .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .recommended-movies .indicators,
    .recommended-movies .flecha-izquierda,
    .recommended-movies .flecha-derecha {
        display: none;
    }
}